th{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    padding: 10px;
    border: 1px solid rgb(57, 86, 124);
}
table{
    border-collapse: collapse;
    width: 100%;
}
th{
    width: 300px;
    hyphens: auto;
}
#ures{
    border:none;
}
tr:nth-child(even) {
    background-color: rgba(78, 82, 85, 0.397);
}