th{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    padding: 10px;
    border: 1px solid black;
}
table{
    border-collapse: collapse;
    width: 100%;
}