body{
    overflow-x: hidden;
}
th{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    padding: 10px;
    border: 1px solid rgb(57, 86, 124);
}
table{
    border-collapse: separate;
    border-spacing: 0;
    width: 86%;
    float: right;
    margin-left: -10px;
    padding-left: -99px;
    border-radius: 10px;
}
tr:first-child th:first-child{
    border-top-left-radius: 10px;
}
tr:first-child th:last-child{
    border-top-right-radius: 10px;
}
tr:last-child th:first-child{
    border-bottom-left-radius: 10px;
}
tr:last-child th:last-child{
    border-bottom-right-radius: 10px;
}
th{
    width: 300px;
    hyphens: auto;
}

tr:nth-child(even) {
    background-color: rgba(78, 82, 85, 0.397);
}
.felso{
    height: 100px;
    background-color: rgb(132, 191, 243);
    margin: -9px;
    margin-bottom: 1px;
    float: right;
    width: 1650px;
}
.bal{
    height: 900px;
    float: left;
    background-color: rgb(6, 119, 224);
    width: 288px;
    margin-right: -20px;
    margin-left: -20px;
    margin-top: -20px;
    transition: transform 0.4s ease-in-out, opacity 0.3s ease;
}
.bal.hidden{
  transform: translateX(-100%);
  opacity: 0;
}
.bal.visible{
    transform: translateX(1%);
    opacity: 100;
}
#first, #second, #third, #fourth, #fifth, #sixth, #seventh, #eighth, #ninth, #tenth{
    border: none;
}
.vissza{
    width: 100px;
    height: 100px;
    top: 100px;
    left: 100px;
}